@page "/authorizeuser/{Token}"

@using WASMWithAuth.Client.Authentication.Interfaces
@using WASMWithAuth.Shared.Entities.Models

@inject NavigationManager Nav
@inject CustomStateProvider Provider
@inject IAuthService AuthService

<p>@Token</p>
<p>@AuthService.UserToken.Token</p>
<p>@AuthService.UserToken.UserName</p>
<p>@error</p>

@code {
    [Parameter]
    public string? Token { get; set; }

    string? error = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var decrypted_Token = await Provider.DecryptToken(new TokenKeyModel(Token, "a@fs@$!v:sg%SMF8"));
            AuthService.UserToken.Token = decrypted_Token;
            AuthService.UserToken.UserName = (await Provider.GetAuthenticationStateAsync()).User.Identity?.Name;

            StateHasChanged();
            //Nav.NavigateTo("/");
        }
        catch (Exception e)
        {
            error = e.Message;
        }        
    }

}
