@page "/account/ConfirmPassword/{PageName}"
@using Microsoft.AspNetCore.Authorization
@using WASMWithAuth.Shared.Entities.Models

@inject CustomStateProvider _provider
@inject NavigationManager _nav

@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column pa-4 ma-16">
    Confirm that you are you by passing correct password:
    
    <MudInput T="string" @bind-Value="password" AutoFocus="true" InputMode="InputMode.text" InputType="InputType.Password"/>
    <MudButton OnClick="Confirm" Color="Color.Secondary" Variant="Variant.Filled">Confirm Identity</MudButton>
    @if (!string.IsNullOrWhiteSpace(errors))
    {
        <p>@errors</p>
    }
</MudContainer>

@code {
    string? password = "";
    string? errors = "";

    [Parameter]
    public string? PageName { get; set; }

    private async Task Confirm()
    {
        errors = "";

        if (string.IsNullOrWhiteSpace(password))
        {
            errors = "Password cant be empty";
            return;
        }

        if (!await _provider.TryLogin(password))
        {
            errors = "Invalid password";
            return;
        }

        try
        {
            await _provider.GetUserToken(password);
            _nav.NavigateTo($"/{PageName}");
        }
        catch (Exception e)
        {
            errors = e.Message;
        }
    }
}
