@page "/account/ConfirmPassword"

@inject CustomStateProvider _provider
@inject NavigationManager _nav

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column pa-4 ma-16">
    Confirm that you are you by passing correct password:
    
    <MudInput T="string" @bind-Value="password" AutoFocus="true" InputMode="InputMode.text" InputType="InputType.Password"/>
    <MudButton OnClick="Confirm" Color="Color.Secondary" Variant="Variant.Filled">Confirm Identity</MudButton>
    @if (!string.IsNullOrWhiteSpace(errors))
    {
        <p>@errors</p>
    }
</MudContainer>

@code {
    string? password = "";
    string? errors = "";

    private async Task Confirm()
    {
        if (string.IsNullOrWhiteSpace(password))
        {
            errors = "Password cant be empty";
            return;
        }

        await _provider.GetUserToken(password);
        _nav.NavigateTo("/", true);
    }
}
