@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer Class="pa-4" MaxWidth="MaxWidth.Small">
            <h1 align="center" style="margin-bottom: 24px;">Panel Pracowniczy</h1>

            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>